@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
	font-size: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Pontano Sans', sans-serif;
	letter-spacing: 2px;
	line-height: 1.2;
	margin: 0;
	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	color: hsla(0, 0%, 30%, 1);
	background: hsla(360, 100%, 100%, 1);
	overflow: hidden;
  	padding: 0;
}
input {
	padding: .625em;
	border: solid 1px hsla(0, 0%, 80%, .4);
	border-radius: 6px;
    transition: all .5s;
    box-shadow: inset .063em  0 .063em .063em hsla(0, 0%, 80%, .4);
    color: hsla(0, 0%, 30%, 1);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1.250em hsla(0, 100%, 100%, 1) inset;
}
:focus {
    outline: -webkit-focus-ring-color auto 0;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.article {
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	height: 100vh;
}
.header, .footer, .section {
	display: flex;
	flex-direction: row;
	padding: .625em;
}
.header, .footer {
	background: hsla(0, 0%, 80%, .4);
}
.section {
	display: flex;
	flex: 1;
  	align-self: center;
}
